# fly.toml app configuration file generated for betai-v2 on 2025-12-11T13:34:44Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'betai-v2'
primary_region = 'lhr'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = '30s'
    timeout = '20s'
    grace_period = '3m0s'
    method = 'GET'
    path = '/health'

[[vm]]
  size = 'shared-cpu-2x'
  memory = '2048mb'
